server {
    listen 80;
    listen [::]:80;

    server_name __SERVER_NAME__;

    root __APP_CURRENT__/public;

    client_max_body_size 100m;

    location ~ ^/(assets|packs) {
        expires max;
        gzip_static on;
        try_files $uri =404;
    }

    location / {
        try_files $uri @puma;
    }

    location @puma {
        proxy_pass http://127.0.0.1:__PUMA_PORT__;
        proxy_http_version 1.1;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
